.navbar {
    width: 100% !important;
    height: auto;
    background-color: #316DC3;
    text-align: center;
}

.two {
    padding-left: 20px;
    text-align: center;
}

.txt {
    text-align: center;
    padding-top: 6px;
    color: white;
}

.button {
    font-size: 11px !important;
    color: green !important;
    text-align: center;
    width: 90px;
    background-color: #F5F5F5 !important;
    border: black solid 1px !important;
}

.header-nav {
    text-align: center;
    width: 100% !important;
    height: auto;
    background-color: #F5F5F5 !important;
}

.logo img {
    width: 250px;
}

.navbar2 {
    padding-top: 15px;
    text-align: center !important;
}

.navbar2 ul li {
    font-size: small;
    font-weight: 500;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.first {
    border-radius: 40px;
    background-color: rgb(0, 111, 190);
}

.first a {
    color: white !important;
}

.round:hover {
    border-radius: 40px !important;
    background-color: rgb(0, 111, 190) !important;
}

.round:hover a {
    color: white !important;
}

.navbar2 ul li a {
    color: black;
    text-decoration: none;
}

.icon {
    position: relative;
    top: 2px;
}

.navMenu ul {
    list-style: none;
}

.navMenu ul li {
    padding-top: 8px;
    padding-bottom: 8px;
}

.navMenu {
    display: none;
}

.navbar2 ul li:hover .navMenu {
    display: block;
    position: absolute;
}

.navbar2 ul li:hover .navMenu ul li {
    margin-left: -40px;
    text-align: left;
}

.round .navMenu ul li a {
    color: black !important;
}

.navMenu ul li:hover {
    background-color: rgb(0, 111, 190);
}

.navMenu ul li:hover a {
    color: white !important;
}

ul li:hover li {
    background-color: white;
}

.navbar2 {
    z-index: 99;
}

.navMenu ul {
    margin-top: 20px;
}

.icon1 {
    padding-left: 85px;
}

.icon2 {
    padding-left: 95px;
}

.icon3 {
    padding-left: 7px;
}

.icon4 {
    padding-left: 15px;
}

.icon5 {
    padding-left: 3px;
}

.navMenu-item {
    display: none;
}

.navMenu ul li:hover .navMenu-item {
    display: block;
    position: absolute;
    margin-left: 165px;
    margin-top: -47px;
    width: max-content;
}

.round .navMenu .navMenu-item ul li a {
    color: black !important;
}

.navMenu .navMenu-item ul li:hover a {
    color: white !important;
}

.navMenu .donor li:hover .navMenu-item {
    display: block !important;
    position: absolute !important;
    margin-left: 115px !important;
    margin-top: -46px !important;
    width: max-content !important;
}

.navMenu-item-item {
    display: none;
}

.navMenu-item ul li:hover .navMenu-item-item {
    display: block;
    position: absolute;
    margin-left: 150px;
    margin-top: -47px;
    width: max-content;
}

.round .navMenu .navMenu-item .navMenu-item-item ul li a {
    color: black !important;
}

.navMenu .navMenu-item .navMenu-item-item ul li:hover a {
    color: white !important;
}

body {
    overflow-x: hidden !important;
}


/* -------------------------Slide---------------------------------- */

.Slide img {
    width: 100% !important;
    height: 450px !important;
}

.Headline {
    margin-top: 15px;
    background-color: white;
}

.Headline p {
    font-size: 14px;
    background-color: rgb(0, 111, 190);
    color: white;
    text-align: center;
    padding: 4px;
}

.green {
    color: rgb(47, 120, 28);
}

.blue {
    color: rgb(48, 138, 202);
}

.intro {
    text-align: center;
    background-color: rgb(247, 248, 250);
}

.intro p {
    line-height: 26.6px;
    font-size: medium;
    color: #666666;
    text-align: justify !important;
}

.mainbar {
    background: rgb(0, 90, 226);
    text-align: center;
}

.column {
    text-align: center;
}

.image {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.image h5,
span h5 {
    font-size: 15px;
}

.image img {
    width: 40px;
    height: 40px;
}

.image h2,
h5 {
    color: white;
}

.image h5 span {
    color: rgb(0, 254, 67);
}

.work {
    padding-top: 50px;
    text-align: center;
    background-color: rgb(247, 248, 250);
}

.center {
    text-align: center;
    box-shadow: 0px 0px 10px;
    padding: 40px 0px 40px 0px;
    margin-bottom: 20px;
    font-size: 18px;
}

.whitebg {
    background-color: white;
    margin-top: 50px;
}

.imgset div {
    background-color: rgb(247, 248, 250);
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 0px 0px;
    border: white solid 20px;
}

.imgset div p {
    margin-left: 20px;
}

.upcomming {
    border-top: rgb(247, 248, 250) solid 1px;
    margin-top: -5px;
}

.upcomming p {
    text-align: left;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 14px;
    line-height: 23.8px;
    width: 200px;
}

.container-gallery {
    position: relative;
    width: 120%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.7;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.container-gallery:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.foot {
    padding-top: 60px;
}

.foot .contactus p {
    color: gray;
    font-size: 13px;
    line-height: 0%;
}

.uselink p {
    color: white;
    padding-left: 70px;
    margin-top: -30px;
}

.connect {
    padding-left: 100px !important;
    margin-top: -30px;
}

.connect p {
    color: white;
}

.connect button {
    border-radius: 50px;
    border: none;
    background-color: rgb(0, 111, 190);
}

.connect button img {
    width: 16px;
    height: 16px;
    text-align: center;
}

.footer {
    background-color: rgb(0, 90, 226);
}

.footer div .para {
    font-size: small;
    color: white;
    padding-top: 10px;
}